.hover-btn {
  background-color: #806b63;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}

.hover-btn:hover {
  background-color: #b59d92;
  transform: scale(1.05);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #806b63;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  color: #333;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.zoomimage {
  transition: 0.5s;
}

.zoomimage:hover {
  transform: scale(1.2);
}


  
